:root {
    --primary-bg-color: #FFFFFF;
    --sec-bg-color: #F1F5F9;
    --primary-btn-color: #0558FE;
    --secondary-btn-color: #A9CFFF;
    --text-color: #414141;
}

.header {
    background-color: #fff;
}

.cars-hero {
    background: var(--sec-bg-color);
    text-align: center;
    padding: 80px 20px 60px;
}

.cars-hero h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cars-hero p {
    color: #64748b;
    font-size: 16px;
    margin-bottom: 30px;
}

.cars-search {
    max-width: 520px;
    margin: 0 auto;
    background: var(--primary-bg-color);
    border-radius: 50px;
    padding: 14px 50px 14px 20px;
    /* مساحة للأيقونة */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    position: relative;

}

.cars-search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.cars-search img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.cars-listing {
    padding: 60px 0;
}

.cars-listing .container {
    display: flex;
    flex-direction: column;
}

.results-count {
    text-align: left;
    align-self: flex-start;
    font-size: 15px;
    color: #475569;
    margin-bottom: 30px;
}

.cars-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 كروت */
    gap: 30px;
}

.car-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.car-image {
    position: relative;
}

.car-card:hover {
    transform: translateY(-4px);
    transition: 0.3s;
}

.car-image img {
    width: 100%;
    display: block;
}

.status {
    position: absolute;
    top: 12px;
    left: 12px;
    background: var(--primary-btn-color);
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 20px;
}

.price {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: #111;
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px;
}

.car-info {
    padding: 20px;
}

.car-info h3 {
    font-size: 18px;
    margin: 0 0 5px;
}

.car-info p {
    font-size: 14px;
    color: #64748b;
    margin-bottom: 15px;
}

.car-features {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    font-size: 14px;
    color: #475569;
}

@media (max-width:767px) {
    .cars-grid {
        display: flex;
        flex-direction: column;
    }

    .car-info p {
        align-self: flex-start;
        display: block;
        text-align: left;
    }
}