/* Main Content Area */
.dashboard-content {
    flex: 1;
    padding: 40px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 30px 0;
}

.stat-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.stat-info span {
    font-size: 14px;
    color: #64748b;
}

.stat-info strong {
    font-size: 24px;
    display: block;
}

.stat-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-icon.blue {
    background: #eff6ff;
}

/* Dashboard Main Grid */
.dashboard-main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.recent-bookings-card,
.revenue-card {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.revenue-card {
    height: fit-content;
}

.recent-bookings-card p,
.revenue-card p {
    color: #64748B;
    font-size: 14px;
}

.booking-row {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #f1f5f9;
}

.car-icon-box {
    width: 35px;
    height: 35px;
    background: #eff6ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.b-details h4 {
    font-size: 14px;
    margin: 0;
}

.b-details span {
    font-size: 12px;
    color: #94a3b8;
}

.b-price {
    margin-left: auto;
    font-weight: 600;
    margin-right: 20px;
}

.b-status {
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 20px;
    background: #f1f5f9;
}

.revenue-amount {
    font-size: 36px;
    font-weight: 800;
    color: #2563eb;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard-main-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .admin-wrapper {
        flex-direction: column;
    }

    .b-details {
        padding: 10px 20px;
    }

    .dashboard-content {
        padding: 20px;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .booking-row {
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 480px) {

    .b-status {
        padding: 4px 8px;
    }

    .stat-info strong {
        font-size: 20px;
    }

    .car-icon-box {
        width: 15px;
        height: 15px;
    }

    .revenue-amount {
        font-size: 28px;
    }

    .admin-menu a {
        width: 100%;
    }

}